body {
  padding: 0px 0px;
  margin: 0px 0px;
}

.box {
  float: right;
  background-color: blue;
  color: white;
  width: 80px;
  height: 20px;
  align-items: center;
  margin: 60px 10px;
  border-radius: 10px;
  padding: 10px 10px;
}

.box:hover {
  background-color: brown;
}

.container {
  background-color: EDD226;
  width: 100%;
  height: 23%;
}
img {
  background-color: EDD226;
}

.flex-group {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  align-items: center;
}

.flex-box {
  color: white;
  background-color: B7ED26;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  line-height: 200px;
  margin: 10px 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 2px 4px 4px 5px lightblue;
}

.box1 {
  transition: 0.5s all ease-in-out;
}

.box1:hover {
  transform: scale(1.5);
  background-color: rgb(186, 16, 73);
}

.box2 {
  transition: 0.5s all ease-in-out;
}

.box2:hover {
  transform: scale(0.5);
  background-color: rgb(186, 16, 73);
}

.box3 {
  transition: 0.5s all ease-in-out;
}

.box3:hover {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgb(186, 16, 73);
}

.box4 {
  transition: 0.5s all ease-in-out;
}

.box4:hover {
  width: 250px;
  background-color: rgb(186, 16, 73);
}

@media only screen and (max-width: 640px) {
  .flex-group {
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 5px;
  }

  .box {
    display: none;
  }
  .box1 {
    margin-top: 120px;
  }
  .box2 {
    margin-top: 5%;
  }

  .container {
    background-color: EDD226;
    width: 100%;
    height: 1%;
  }
  @media (min-width: 170px) {
    .box {
      display: none;
    }
  }
}
